*.jpg
*.mp4
/TRASH/
/rectified2/
board_crops/
chessboard_crops/
*png
*jpg
*.onnx
*.engine
__pycache__/
PieceClassifier/dataset
PieceClassifier/inputs
PieceClassifier/models
PieceClassifier/Chess Pieces.v24-416x416_aug.yolov8
